body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    margin: 20px;
    position: absolute;
    background: #33b392;
    padding: 40px 40px 80px 40px;
}

.menu input {
    height: 30px;
}

.menu button {
    margin-top: 5px;
    display: block;
    width: 173px;
    height: 30px;
}

table {
    margin: auto;
    /*animation: 1s flip infinite;*/
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

table tr, th {
    width: 80px;
    min-width: 80px;
    height: 80px;
    background-color: #99aab2;

}

.fas {
    font-size: 60px;
    margin-top: 5px;
    cursor: pointer;
}


table i {
    color: white;
}

table tr:nth-child(even) .square:nth-child(odd) {
    background-color: #393c42;
}

table tr:nth-child(odd) .square:nth-child(even) {
    background-color: #393c42;
}

