body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*========Menu==========*/

.menu {
    margin: 20px;
    position: fixed;
    background: #33b392;
    padding: 50px 40px 80px 40px;
    transition: 500ms;
    border-radius: 5px;
}

.menu.closed {
    animation: 1s close;
}

@keyframes close {
    from {
        margin: 20px;
    }
    to {
        margin-left: -20px;
    }
}


.closeDiv {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
    position: absolute;
    right: 2px;
    top: 2px;
    transition: 1s;

}

.closeDiv i {
    color: #53b39a;
    font-size: 25px;
    padding: 3px;
    position: relative;
    left: 5px;
    top: 0;
    cursor: pointer;
}

.closeDiv.closed {
    position: fixed;
    left: 10px;
    top: 22px;
    background-color: #53b39a;
    animation: 500ms flip;
    animation-fill-mode: forwards;

}

.closeDiv.closed i {
    color: white;
}

.menu input {
    width: 87%;
    height: 22px;
    font-size: 15px;
}

.menu button {
    margin-top: 5px;
    display: block;
    width: 89.5%;
    height: 30px;
}

/*========Menu End============*/

/*========Board===============*/

table {
    margin: auto;
    border-spacing: 0px;
    /*animation: 1s flip infinite;*/
}

@keyframes flip {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

table tr, th {
    width: 80px;
    min-width: 80px;
    height: 80px;
    background-color: #bcc8db;

}

.fas {
    font-size: 60px;
    margin-top: 5px;
    cursor: pointer;
}

table i {
    color: white;
}

table tr:nth-child(even) .square:nth-child(odd) {
    background-color: #84487a;
}

table tr:nth-child(odd) .square:nth-child(even) {
    background-color: #84487a;
}

/*==========Board End===========*/

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: .5s ease-in all;
}

